
button{
  cursor: pointer;
}

body{
  background-color: #f6f7fa;
  background-size: cover;
}

.app-container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto;
  max-width: 1366px;
  margin: auto;
}

@media (max-width: 700px) {
  .app-container{
      display: flex; 
      flex-direction: column; 
      width: 100%;
            height: fit-content;
    }
}




  /* font-size: calc(10px + 2vmin); */

